* { margin: 0; padding: 0; box-sizing: border-box; border: none; transition: all 0, background-color 0s, color 0s; outline: none; }
:root {
    --users-background-color: #F4E8FF;
    --pending-background-color: #e3d0f5;
}
body.dark {
    --users-background-color: #231e33;
    --pending-background-color: #2d1f4a;
}
main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* 100% de la hauteur de la fenêtre moins la hauteur du header */
}
.principalSection {
    min-height: 500px;
    flex: 20;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--users-background-color);
}
.pendingMediaSection {
    min-height: 170px;
    flex: 8; /* de base c'était 2/3 ; 1/3 (2, 1), mais il faut avouer que dans cette configuration, cette section est trop grande */
    height: 100%;
    background-color: var(--pending-background-color);
}